body {
    display: grid;
    place-items: center;     /* Centers both horizontally and vertically */
    height: 100vh;           /* Full viewport height */
    margin: 0;
    padding: 0;
}
.sticky-topbar{
  position: sticky;
  top: 0;
  background-color: white; /* o el color que prefieras */
  z-index: 1000;            /* asegúrate de que esté por encima de otros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* opcional: sombra al hacer scroll */
}

header, footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1em;
}

.container {
    display: flex;    
}

.left-menu {
    width: 20%;
    background-color: #e9ecef;
    padding: 1em;
    min-height: 17rem;
}

.left-menu ul {
    list-style-type: none;
    padding: 0;
}

.left-menu li {
    margin: 0.5em 0;
}

.left-menu a {
    text-decoration: none;
    color: #000;
}

main {
    width: 100%;
    padding: 0;
    margin: .5rem;
}

.right-section {
    width: 20%;
    background-color: #e9ecef;
    padding: 1em;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1em;
}